<!DOCTYPE html><html lang='en'>
<head>
	<title>myCV</title>
	<meta charset='utf-8'>
</head>
<body>
	<h3>{name} {surname}</h3>
	<h2>Age:</h2><p>{age}</p>
	<h2>Profession</h2><p>{profesion}</p>
</body></html>